Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  clang-analyzer-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-do-while,
  -readability-identifier-length,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -modernize-use-nodiscard,
  -cppcoreguidelines-noexcept-destructor,
  -cppcoreguidelines-noexcept-move-operations,
  -cppcoreguidelines-noexcept-swap,
  -performance-noexcept-destructor,
  -performance-noexcept-move-constructor,
  -performance-noexcept-swap,
  -bugprone-exception-escape,
  -bugprone-easily-swappable-parameters,
  -readability-braces-around-statements,
  -readability-function-cognitive-complexity,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -modernize-use-auto,
  -modernize-use-using,
  -readability-implicit-bool-conversion
WarningsAsErrors: "bugprone-use-after-move,performance-unnecessary-copy-initialization,performance-for-range-copy"
HeaderFilterRegex: "^(?!.*nlohmann).*(haze|src)/.*"
