[submodule "vendor/niobium-fhetch"]
	path = vendor/niobium-fhetch
	url = https://github.com/NiobiumInc/niobium-fhetch.git
[submodule "vendor/openfhe"]
	path = vendor/openfhe
	url = https://github.com/openfheorg/openfhe-development.git
